.list {
    min-height: 90px;
    list-style-type: none;
    margin: 0px;
    padding: 20px;
}

.list__item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
}

.list__item--hidden {
    display: none;
}

.list__itemContent--done {
    text-decoration: line-through;
}

.list__button {
    height: 30px;
    width: 30px;
    color: white;
    border: none;
    transition: background 1s;
}

.list__button--done {
    background-color: hsl(123, 49%, 45%);
}

.list__button--done:active {
    border: 1px solid black;
}

.list__button--done:hover {
    background-color: hsl(123, 49%, 35%);
    cursor: pointer;
}

.list__button--remove {
    background: hsl(0, 100%, 50%);
}

.list__button--remove:active {
    border: 1px solid black;
}

.list__button--remove:hover {
    background-color: hsl(0, 100%, 40%);
    cursor: pointer;
}